@font-face {
  font-family: "ABC Gravity Wide";
  src: url("../fonts/ABCGravityCyrillicVariable-Trial.ttf") format("truetype");
  font-weight: 100 900;
  font-stretch: 125%;
  font-style: normal;
  font-display: swap;
}
